<div class="card">

  <div class="card-content">
    <div class="tab-content">
      <div class="tab-pane active">
        <h4 class="text-success">Liste des ventes:</h4>
        <div class="container">
          <div class="row">
            
            <div class="pull-right">
              <pagination 
                  [itemsPerPage]="itemsPerPage" 
                  [totalItems]="ventes?.length" 
                  [maxSize]="maxSize"
                  [(ngModel)]="currentPage" 
                  previousText="Précedent" 
                  nextText="Suivant"
                  (pageChanged)="pageChanged($event)" 
                  *ngIf="isPaginationDisplayed()"></pagination>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover" *ngIf="ventes.length != 0">
          <thead>
            <th class="text-center">
              <b> Quantite ventes produit </b>
            </th>
            <th class="text-center">
              <b> Client </b>
            </th>
            <th class="text-center">
              <b> Utilisateur </b>
            </th>
            <th class="text-center">
              <b> Remise (%)</b>
            </th>
            <th class="text-center">
              <b> Prix vente (DH)</b>
            </th>
            <th class="text-center">
              <b> Type </b>
            </th> 
            <th class="text-center">
              <b>Date</b>
            </th>
          </thead>
          <tbody>

            <tr *ngIf="(pagedArray )?.length == 0">
              <td colspan="5">
                <b class="text-danger">Aucune vente trouvée</b>
              </td>
            </tr>
            <tr *ngFor="let vente of pagedArray">
              <td class="text-center">
                <b>{{vente.quantiteVenteProduit}}</b>
              </td>
              <td class="text-center">
                <b>{{vente.client}}</b>
              </td>
              <td class="text-center">
                <b>{{vente.user}}</b>
              </td>
              <td class="text-center">
                <b>{{vente.remise}}</b>
              </td>
              <td class="text-center">
                <b>{{vente.prixVente}}</b>
              </td>
              <td class="text-center">
                <b>{{vente.type}}</b>
              </td>
              <td class="text-center">
                <b>
                  <b>{{vente.date | date:'dd/MM/yyyy'}}</b>
                </b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>