<div class="card">
    <div class="card-header" data-background-color="blue">
        <h4>Liste des paiments:</h4>
    </div>

    <div class="card-content">
        <div class="tab-content">
            <div class="tab-pane active">
                <span>Total de vente:
                    <b class="text-success" [style.color]="'blue'">{{ total }} DH</b>
                </span>
                <br>
                <button (click)="addPaimentDisplayed = true" type="button" class="btn btn-primary btn-sm">Ajouter
                    paiment</button>
                <table class="table">
                    <thead>
                        <th class="text-center">Date</th>
                        <th class="text-center">Montant</th>
                        <th class="text-center">N° de chèque</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Utilisateur</th>
                    </thead>
                    <tbody>
                        <tr *ngIf="paiments && paiments.length == 0 && !addPaimentDisplayed">
                            <td colspan="5">
                                <b class="text-danger">Aucun paiment pour cette vente.</b>
                            </td>
                        </tr>
                        <tr *ngIf="addPaimentDisplayed">
                            <td class="text-center"><input class="form-control" type="number" placeholder="Valeur"
                                    [(ngModel)]="newPaiment.montant"></td>
                            
                            <td class="text-center">
                                <select [(ngModel)]="newPaiment.type" class="form-control">
                                    <option *ngFor="let t of availablePaimentTypes" [ngValue]="t.code">{{t.label}}</option>
                                </select>
                            </td>
                            <td class="text-center" *ngIf="newPaiment.type == 'H'"><input class="form-control" type="number" placeholder="Numéro de chèque"
                                [(ngModel)]="newPaiment.checkNumber"></td>
                            <td>
                                <button (click)="submitPaiment()" type="button" title="Valider" class="btn btn-success btn-sm">
                                    Valider
                                </button>
                            </td>
                            <td>
                                <button (click)="cancelPaiment()" type="button" title="Annuler" class="btn btn-danger btn-sm">
                                    Annuler
                                </button>
                            </td>
                        </tr>
                        <tr *ngFor="let p of paiments">

                            <td class="text-center">
                                {{p.date | date:'dd/MM/yyyy'}}
                            </td>
                            <td class="text-center">
                                {{p.montant}}
                            </td>
                            <td class="text-center">
                                {{p.checkNumber? p.checkNumber : '-'}}
                            </td>
                            <td class="text-center">
                                {{paimentTypesMap[p.type]}}
                            </td>
                            <td class="text-center">
                                {{p.user}}
                            </td>
                            <td class="td-actions text-right">
                                <button (click)="deletePaiment(p)" type="button" rel="tooltip" title="Supprimer ce paiment"
                                    class="btn btn-danger btn-simple btn-xs">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>